
    <link rel="stylesheet" href="/css/LoginHeader.css" />

    <header>
        <div class="login-header-container">
            <img src="/images/aimtracklogo.png">

            <h2>Aimtracker</h2>

            <div></div>
        </div>
        <li class="nav-item">
            @await Html.PartialAsync("_CulturePartial")
        </li>
    </header>